<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Contacts App</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <div class="alert alert-info">
            <h1>Contacts App</h1>
        </div>
        <div>
            <a href="{% url 'home' %}" class="btn btn-primary">Home</a>
            <a href="{% url 'view_all' %}" class="btn btn-primary">View all</a>
            <a href="{% url 'contact_form' %}" class="btn btn-primary">Add new contact</a>
        </div>
        
        {% block content %}
        {% endblock %}
        
    </div>
</body>
</html>